In [6]:
import requests
from bs4 import BeautifulSoup
# get() Request
response = requests.get("http://pythonjobs.github.io/")
# Store the webpage contents
webpage = response.content
# Check Status Code (Optional)
print(response.status_code)
# Create a BeautifulSoup object out of the webpage content
soup = BeautifulSoup(webpage, "html.parser")
# The logic
for job in soup.find_all('section', class_='job_list'):
    title = [a for a in job.find_all('h1')]
    for n, tag in enumerate(job.find_all('div', class_='job')):
        company_element = [x for x in tag.find_all('span', class_='info')]
        print("Job Title: ", title[n].text.strip())
        print("Location: ", company_element[0].text.strip())
        print("Company: ", company_element[3].text.strip())
        print()

200
Job Title:  Open Source Software Engineer - Python
Location:  New York City or Remote
Company:  Datadog

Job Title:  Senior Python Developer
Location:  remote
Company:  RealRate GmbH

Job Title:  Full Stack (Python & JS) Developer
Location:  Kyiv
Company:  O'Dwyer Software

Job Title:  Python Backend Developer
Location:  Amsterdam, Netherlands
Company:  Newzoo

Job Title:  Computer Scientist / Software Developer for multi-messenger astronomy
Location:  Cascina (Pisa), Tuscany, Italy
Company:  European Gravitational Observatory

Job Title:  Full Stack Engineer
Location:  Sydney, Australia
Company:  Xref

Job Title:  Remote Contractor Senior Django REST Developer
Location:  Washington, D.C., Remote
Company:  AIsoft Development LLC

In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# get() Request
response = requests.get("http://pythonjobs.github.io/")
# Store the webpage contents
webpage = response.content
# Check Status Code (Optional)
print(response.status_code)
# Create a BeautifulSoup object out of the webpage content
soup = BeautifulSoup(webpage, "html.parser")
# The logic
t=[]
l=[]
c=[]
for job in soup.find_all('section', class_='job_list'):
    title = [a for a in job.find_all('h1')]
    for n, tag in enumerate(job.find_all('div', class_='job')):
        company_element = [x for x in tag.find_all('span', class_='info')]
        t.append(title[n].text.strip())
        l.append(company_element[0].text.strip())
        c.append(company_element[3].text.strip())

columns={'Job Title':t,'Location':l,'Company':c}
df = pd.DataFrame(columns)
df.to_csv('Jobs.csv', encoding='utf-8')
df.style.format()

200